<a href="https://colab.research.google.com/github/Vinayak2183/Machine-learning/blob/main/Machine_Learing_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("/content/ML_study_jam.csv")
df1 = df.dropna()
print(df1.head(15))

    Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0         1.0      1659.0           1961.0                 530.0      66490.0
1         2.0      1461.0           1752.0                 210.0      39820.0
2         3.0      1340.0           1609.0                 720.0      54010.0
3         4.0      1451.0           1748.0                 620.0      53730.0
4         5.0      1770.0           2111.0                 450.0      46620.0
5         6.0      1442.0           1733.0                 760.0      45260.0
6         7.0      1542.0           1858.0                1030.0      72240.0
7         8.0      1261.0           1507.0                1020.0      37720.0
8         9.0      1090.0           1321.0                 680.0      46310.0
9        10.0      1030.0           1235.0                1130.0      44150.0
12       13.0      1746.0           2064.0                1050.0      60470.0
13       14.0      1615.0           1931.0                1160.0      59130.0
14       15.0      1469.0           1756.0                 770.0      66360.0
15       16.0      1644.0           1950.0                 790.0      78870.0
16       17.0      1578.0           1907.0                1440.0      77250.0

In [12]:
df2=pd.read_csv("/content/ML_study_jam.csv")
x = df2["Store_Sales"].mean()
df2["Store_Sales"].fillna(x, inplace=True)
print(df2.head(15))

    Store ID   Store_Area  Items_Available  Daily_Customer_Count   Store_Sales
0         1.0      1659.0           1961.0                 530.0  66490.000000
1         2.0      1461.0           1752.0                 210.0  39820.000000
2         3.0      1340.0           1609.0                 720.0  54010.000000
3         4.0      1451.0           1748.0                 620.0  53730.000000
4         5.0      1770.0           2111.0                 450.0  46620.000000
5         6.0      1442.0           1733.0                 760.0  45260.000000
6         7.0      1542.0           1858.0                1030.0  72240.000000
7         8.0      1261.0           1507.0                1020.0  37720.000000
8         9.0      1090.0           1321.0                 680.0  46310.000000
9        10.0      1030.0           1235.0                1130.0  44150.000000
10       11.0      1187.0           1439.0                1090.0  58223.865979
11       12.0      1751.0              NaN                 720.0  57620.000000
12       13.0      1746.0           2064.0                1050.0  60470.000000
13       14.0      1615.0           1931.0                1160.0  59130.000000
14       15.0      1469.0           1756.0                 770.0  66360.000000

In [24]:
df3=pd.read_csv("/content/ML_study_jam.csv")
for x in df3.index:
  if df3.loc[x, "Items_Available"] < 1500:
     df3.loc[x, "Items_Avaliable"] = 1800
print(df3.head(20))

    Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales  \
0         1.0      1659.0           1961.0                 530.0      66490.0
1         2.0      1461.0           1752.0                 210.0      39820.0
2         3.0      1340.0           1609.0                 720.0      54010.0
3         4.0      1451.0           1748.0                 620.0      53730.0
4         5.0      1770.0           2111.0                 450.0      46620.0
5         6.0      1442.0           1733.0                 760.0      45260.0
6         7.0      1542.0           1858.0                1030.0      72240.0
7         8.0      1261.0           1507.0                1020.0      37720.0
8         9.0      1090.0           1321.0                 680.0      46310.0
9        10.0      1030.0           1235.0                1130.0      44150.0
10       11.0      1187.0           1439.0                1090.0          NaN
11       12.0      1751.0              NaN                 720.0      57620.0
12       13.0      1746.0           2064.0                1050.0      60470.0
13       14.0      1615.0           1931.0                1160.0      59130.0
14       15.0      1469.0           1756.0                 770.0      66360.0
15       16.0      1644.0           1950.0                 790.0      78870.0
16       17.0      1578.0           1907.0                1440.0      77250.0
17       18.0      1703.0           2045.0                   NaN      38170.0
18       19.0      1438.0           1731.0                1030.0      63540.0
19       20.0      1940.0           2340.0                 980.0      40190.0

    Items_Avaliable
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8            1800.0
9            1800.0
10           1800.0
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18              NaN
19              NaN