<a href="https://colab.research.google.com/github/Vinayak2183/Machine-learning/blob/main/Machin_leanring_Qus1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/ML_study_jam.csv")

In [ ]:
df.shape

(590, 5)

In [ ]:
df.describe()

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,588.000000,587.000000,579.000000,581.000000,582.000000
mean,295.369048,1482.250426,1775.050086,785.807229,58223.865979
std,170.735362,280.558792,336.940338,273.503711,17073.973067
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,147.750000,1312.000000,1571.000000,600.000000,45597.500000
50%,294.500000,1480.000000,1770.000000,770.000000,56960.000000
75%,443.250000,1670.500000,1999.500000,980.000000,70437.500000
max,590.000000,2229.000000,2667.000000,1530.000000,102920.000000

In [18]:
grouped = df.groupby(df['Daily_Customer_Count'])
print(grouped.get_group('850'))

KeyError: ignored

In [19]:
grouped = df.groupby(df.Daily_Customer_Count)
df_dly_cus = grouped.get_group("600")
print(df_dly_cus)

KeyError: ignored

In [26]:
index = pd.read_csv("/content/ML_study_jam.csv" , index_col = "Store_Area")
index1 = index[ [ "Store_Sales" , "Items_Available"] ]
print(index1)

            Store_Sales  Items_Available
Store_Area
1659.0          66490.0           1961.0
1461.0          39820.0           1752.0
1340.0          54010.0           1609.0
1451.0          53730.0           1748.0
1770.0          46620.0           2111.0
...                 ...              ...
1227.0          56260.0           1476.0
1609.0          76470.0           1930.0
1553.0          35680.0           1831.0
1814.0          90070.0           2174.0
1240.0          33120.0           1493.0

[590 rows x 2 columns]

In [27]:
print(df.head(10))

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1.0      1659.0           1961.0                 530.0      66490.0
1        2.0      1461.0           1752.0                 210.0      39820.0
2        3.0      1340.0           1609.0                 720.0      54010.0
3        4.0      1451.0           1748.0                 620.0      53730.0
4        5.0      1770.0           2111.0                 450.0      46620.0
5        6.0      1442.0           1733.0                 760.0      45260.0
6        7.0      1542.0           1858.0                1030.0      72240.0
7        8.0      1261.0           1507.0                1020.0      37720.0
8        9.0      1090.0           1321.0                 680.0      46310.0
9       10.0      1030.0           1235.0                1130.0      44150.0